[submodule "dev/nixos-hardware"]
	path = dev/nixos-hardware
	url = git@github.com:coreyoconnor/nixos-hardware
	branch = dev
[submodule "dev/nixpkgs"]
	path = dev/nixpkgs
	url = git@github.com:coreyoconnor/nixpkgs
	branch = dev
[submodule "doc/nix_configs-example"]
	path = doc/nix_configs-example
	url = https://github.com/coreyoconnor/nix_configs-example.git
